<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @polygodetail.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @polygodetail.lng %>
</p>

<%= link_to 'Edit', edit_polygodetail_path(@polygodetail) %> |
<%= link_to 'Back', polygodetails_path %>
