<p id="notice"><%= notice %></p>

<h1>Listing Dmaps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dmaps.each do |dmap| %>
      <tr>
        <td><%= dmap.name %></td>
        <td><%= link_to 'Show', dmap %></td>
        <td><%= link_to 'Edit', edit_dmap_path(dmap) %></td>
        <td><%= link_to 'Destroy', dmap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dmap', new_dmap_path %>
