<%= form_for(@alarmlog) do |f| %>
  <% if @alarmlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarmlog.errors.count, "error") %> prohibited this alarmlog from being saved:</h2>

      <ul>
      <% @alarmlog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :sendmsg %><br>
    <%= f.text_field :sendmsg %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
