<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @project.pid %>
</p>

<p>
  <strong>Created time:</strong>
  <%= @project.created_time %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
