<%= form_for(@userdevice) do |f| %>
  <% if @userdevice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userdevice.errors.count, "error") %> prohibited this userdevice from being saved:</h2>

      <ul>
      <% @userdevice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.text_field :device_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
