<p id="notice"><%= notice %></p>

<h1>Listing Userdevices</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdevices.each do |userdevice| %>
      <tr>
        <td><%= userdevice.user_id %></td>
        <td><%= userdevice.device_id %></td>
        <td><%= link_to 'Show', userdevice %></td>
        <td><%= link_to 'Edit', edit_userdevice_path(userdevice) %></td>
        <td><%= link_to 'Destroy', userdevice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userdevice', new_userdevice_path %>
